html {
    scrollbar-gutter: stable;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #1b2d3c;
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background-color: #989795;
    border-radius: 5px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*Fade in out*/
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.test-transition {
    width: 80%;
    height: 10rem;
    z-index: 99;
}

/*End Fade in out*/
.pageSetup {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*All set position here */
.fmovie-detail-button2 {
    display: none;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.top-0 {
    top: 0;
    transition: top 0.3s linear;
}

.top-go-up-5rem {
    top: -5rem;
    transition: top 0.3s linear;
}

.top-go-up-6rem {
    top: -6rem;
    transition: top 0.3s linear;
}

.top-go-up-11rem {
    top: -11rem;
    transition: top 0.3s linear;
}

.top-12rem-height {
    height: 12rem;
    width: 100%;
    background-color: #1b2d3c;
}

.top-11rem-height {
    height: 11rem;
    width: 100%;
    background-color: #1b2d3c;
}

.bottom-5rem-height {
    width: 100%;
    bottom: -5rem;
    position: absolute;
    height: 5rem;
    background-color: #1b2d3c;
    z-index: 9;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*END set position here */
/*Search-tab*/
.search-tab {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    height: 80svh;
    width: 101%;
    background-color: #131f29;
    border-radius: 15px;
    border: 2px #131f29 solid;
    gap: 0.1rem;
    overflow: auto;
}

.search-tab::-webkit-scrollbar {
    width: 6px;
}

.search-tab::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.search-tab::-webkit-scrollbar-thumb {
    background-color: #989795;
    border-radius: 100px;
}

.search-hide-background {
    position: absolute;
    top: 3rem;
    left: -40svw;
    width: 120svw;
    height: 120svh;
    background-color: #1b2d3ccf;
    opacity: 0.1;
}

.triangle {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid whitesmoke;
    display: none;
}

.show-search {
    opacity: 1;
    transition: all 1s linear;
}

.hide-search {
    opacity: 0;
    visibility: hidden;
    transition: all 1s linear;
}

.search-movie-item {
    width: 100%;
    height: 5rem;
    display: flex;
    cursor: pointer;
    background-color: wheat;
}

.search-movie-title {
    width: 65%;
    padding: 1rem;
    justify-content: flex-start;
    color: #12171b;
}

.search-movie-img {
    width: 35%;
    height: auto;
    object-fit: cover;
}

/*ALL for HEADER*/
.header-container {
    width: 100%;
}

/*Header-top*/
.header-top-bg {
    width: 100%;
    height: 6rem;
    background-color: #1b2d3c;
    display: flex;
    justify-content: center;
}

.header-top-contain {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

/*END header-top*/
/*Header-bot - Navigation*/
.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bg {
    position: absolute;
    width: 100%;
    height: 5rem;
}

.nav-text {
    display: flex;
    align-items: center;
    font-size: calc(5px + 1vw);
    line-height: 1;
    margin: auto;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.nav-bg-show {
    background-color: rgba(18, 23, 28, 1);
    transition: all 1s linear;
}

.nav-bg-opacity-4 {
    background-color: rgba(18, 23, 28, 0.5);
    transition: all 1s linear;
}

.nav-bg-transparent {
    background-color: rgba(18, 23, 28, 0);
    transition: all 1s linear;
}

.nav-contain-position {
    position: relative;
    display: flex;
    color: antiquewhite;
    flex-wrap: wrap;
    height: 5rem;
}

.nav-list-contain {
    margin: 0;
    padding: 0 0rem 0 0rem;
    display: flex;
}

.nav-list {
    display: flex;
}

.nav-genres-list,
.nav-genres-item,
.home {
    cursor: pointer;
    background-color: rgba(18, 23, 28, 0);
}

.home {
    display: flex;
    margin-left: 1rem;
}

.nav-genres-list {
    padding: 0 0.5rem;
    height: 2rem;
    margin: auto 0;
}

.nav-genres-item {
    padding: 0 0.5rem;
    margin: auto 0;
}

.nav-genres-list,
.nav-genres-list:active,
.nav-genres-list:hover,
.nav-genres-list:focus {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px gray;
    border-radius: 5px;
    color: antiquewhite;
    outline: none;
    line-height: 100%;
    box-sizing: border-box;
}

.nav-genres-list,
.nav-genres-list:hover {
    background-color: rgba(18, 23, 28, 0);
}

.nav-genres-list:focus {
    background-color: rgba(18, 23, 28, 1);
}

.nav-home-group {
    all: unset;
    display: flex;
    margin: auto;
}

.fa-house {
    font-size: calc(5px + 1.3vw);
    padding-right: 0.5rem;
}

/*END Header-bot - Navigation*/

.home-bg {
    background-color: #1b2d3c;
}

.detailPage-bg {
    background-color: #1b2d3c;
}

.container {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 1500px;
    gap: 5%;
    padding: 1rem;
}

.main-container {
    display: flex;
    position: inherit;
    border-radius: 3px;
    width: 69%;
    padding: 1rem;
    text-align: center;
}

.aside-container {
    display: flex;
    position: inherit;
    border-radius: 3px;
    width: 26%;
    padding: 1rem;
    text-align: center;
}

.home-contain {
    display: flex;
    color: antiquewhite;
    flex-direction: column;
    background-color: #12171b30;
    box-shadow: 20px 20px 5px 5px rgba(0, 0, 0, 0.2);
}

.detail-contain {
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    background-color: #12171b30;
    margin: 2rem 0;
    box-shadow: 20px 20px 5px 5px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

.detail-group-1 {
    display: flex;
    margin-bottom: 1rem;
}

.detail-group-2 {
    display: flex;
    flex-direction: column;
    border-top: 2px gray solid;
    width: 100%;
    padding-top: 2rem;
}

.detail-1 {
    position: relative;
    width: 30%;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail-2 {
    width: 68%;
    text-align: left;
    margin-left: 2%;
    height: auto;
    border: 1px rgb(176, 141, 141) solid;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.movie-img-detail {
    border-radius: inherit;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transition: all 0.5s linear;
}

.info-text {
    line-height: 1;
    margin: 0;
    padding: 0;
    border-bottom: #3f474e 1px solid;
    height: 3rem;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1 0 2rem;
    display: flex;
    min-width: 2rem;
    align-items: center;
    justify-content: center;
}

.logo img {
    cursor: pointer;
    width: auto;
    height: 50px;
}

/*Fav Page*/
.fav-page-container {
    flex-direction: column;
    min-height: 100svh;
}

.remove-from-fav {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.fa-xmark {
    margin: auto;
}

.remove-fav-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    outline: none;
    border: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms linear;
}

.movie-item:hover .remove-fav-button {
    opacity: 1;
}

.movie-item:hover img {
    transform: scale(1.2);
    transition: transform 300ms linear;
}

/*Fav Page End*/
/*Search Page*/
.search-page {
    align-items: center;
}

.main-search-page-container {
    display: flex;
    position: inherit;
    border-radius: 3px;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.search-page-container {
    flex-direction: column;
}

.search-page-inside {
    height: auto;
}

.search-contain {
    position: relative;
    flex: 2 0 2rem;
}

.text-above-search-result {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1.2rem;
    padding: 0rem 1rem 1rem 0;
    color: rgb(150, 148, 145);
}

.text-above-search-result span {
    color: wheat;
}

.related-search-result {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1.2rem;
    padding: 0rem 0rem 1rem 0;
    color: rgb(150, 148, 145);
    display: flex;
    flex-direction: column;
}

.related-search-keyword {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.related-search-keyword p {
    width: auto;
    background-color: #727272;
    margin: 0.2rem 0.8rem 0.2rem 0rem;
    height: auto;
    border-radius: 25px;
    padding: 0 0.8rem;
    color: rgb(202, 202, 202);
    cursor: pointer;
}

.searchBar {
    position: relative;
    margin: 1rem 0.1rem;
    width: 100%;
    height: 2rem;
    cursor: text;
    text-align: left;
    border-radius: 50px;
    box-shadow: inset 2px 2px 5px #727272, inset -2px -2px 5px #ccc;
    padding: 10px;
    padding-left: 1rem;
    border: none;
    background-color: #cecece;
    outline: none;
}

.searchBar:focus {
    outline: none;
    background-color: #e0e0e0;
}

.search-icon {
    all: unset;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #12171b;
}

.user-icon {
    flex: 1 0 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0rem;
}

.footer {
    display: flex;
    height: 70px;
    border-top: 1px solid gray;
    box-shadow: 1px 0px 0px 0px gray;
    justify-content: center;
    background-color: #12171b;
}

.footerText {
    display: flex;
    align-items: center;
    color: wheat;
}

.buttonContain {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    padding: 0 0.2rem;
    bottom: 0;
    opacity: 1;
    background-color: #1b2d3c;
    gap: 20%
}

.buttonPages {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 1;
}

.button-special {
    width: 30% !important;
}

.button {
    position: relative;
    margin: 0.5rem 0.1rem;
    width: 3rem;
    height: 3rem;
    background-color: #12171b;
    cursor: pointer;
    border: #20272ba4 1px solid;
    color: antiquewhite;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #253036a4 inset;
}

.pageInput {
    position: relative;
    margin: 0.5rem 0.5rem;
    width: 3rem;
    height: 3rem;
    cursor: text;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px #727272, inset -2px -2px 5px #ccc;
    padding: 10px;
    border: none;
    background-color: #cecece;
}

.pageInput:focus {
    box-shadow: inset 2px 2px 5px #727272, inset -2px -2px 5px #ccc;
    padding: 10px;
    border: none;
    background-color: #e0e0e0;
    outline: none;
}

.active {
    border-radius: 5px;
    color: wheat;
    background-color: #000000;
    padding: 0.5rem;
}
.not-active-class {
    padding: 0.5rem;
}
.hidden {
    display: none;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-title {
    display: flex;
    position: relative;
}

.line {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 0.2rem 0 1rem 0;
    background-color: aquamarine;
}

.black-line {
    width: 100%;
    height: 1px;
    margin: 0.2rem 0 1rem 0;
    background-color: rgba(255, 255, 255, 0.292);
    position: absolute;
    bottom: 0;
}

.genresItem {
    cursor: pointer;
}

/*Movie-Grid All*/
.movie-grid {
    display: grid;
    grid-template: auto/ repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 0;
    margin-bottom: 1rem;
}

.movie-item {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.movie-img {
    border-radius: inherit;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.5s linear;
}

.movie-title {
    border-radius: inherit;
    position: absolute;
    font-size: calc(5px + 0.6vw);
    min-height: 3rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: hsla(207, 38%, 17%, 0.4);
    bottom: 0rem;
    color: rgba(240, 248, 255, 0.785);
    transition: color 0.2s linear, background-color 0.2s linear;
}

.movie-bg {
    border-radius: inherit;
    position: relative;
    height: 100%;
}

/*Movie-Grid End*/
.bigger {
    transform: scale(1.3);
    transition: all 0.5s linear;
}

.bigger2 {
    color: white;
    background-color: hsla(207, 38%, 17%, 0.8);
}

.aside-movie-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #12171b;

}

.aside-movie-item {
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid gray;
    width: 100%;
}

.aside-movie-title {
    border-radius: inherit;
    width: 50%;
    padding: 1rem;
}

.movie-title-detail {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 15rem;
}

.aside-movie-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    width: 50%;
}

.focus {
    opacity: 1;
    color: green;
    background-color: aliceblue;
    transition: all 0.5s linear 0.2s;
}

.visible {
    opacity: 1;
    transition: all 0.5s linear 0.2s;
}

.invisible {
    opacity: 0;
    transition: all 0.5s linear 0.2s;
}

.main {
    min-height: 80svh;
}

/* Movie detail container*/
.detailPage-container {
    position: relative;
}

.movie-detail-container-backdrop {
    width: 100%;
    height: 100svh;
    position: relative;
    background-color: rgba(18, 23, 28, 0);
}

.movie-detail-container-poster {
    width: 100%;
    height: 100svh;
    position: relative;
    background-color: rgba(18, 23, 28, 0);
}

.movie-container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-detail-fore-ground {
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    box-shadow: inset 300px 0px 1000px 10px #000000;
    pointer-events: none;
}

.movie-detail-background-gradient {
    position: absolute;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, rgba(27, 45, 60, 1), rgba(27, 45, 60, 0));
    bottom: 0;
}

.movie-detail-group {
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.5rem;
    padding: 1rem;
}

.movie-detail-title {
    position: relative;
    color: white;
    opacity: 0.6;
    border-radius: 5px;
    font-size: 2.8rem;
    max-width: 50rem;
    font-family: 'Rubik Doodle Triangles', system-ui;
    line-height: 1;
    margin-bottom: 2rem;
    text-align: left;
}

.movie-detail-buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 22rem;
    gap: 5px;
}

.movie-detail-button1,
.movie-detail-button2 {
    min-width: 9.8rem;
    height: 2.5rem;
    border-radius: 50px;
    outline: none;
    border: gray solid 1px;
    padding: 0 2rem;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    cursor: pointer;
}

.movie-detail-button-icon {
    margin-right: 5px;
    font-size: 1.5rem;
}

.movie-detail-overview {
    display: flex;
}

.movie-detail-overview-text {
    font-family: 'Mali', cursive;
    text-align: left;
    font-size: 1rem;
    color: whitesmoke;
    mix-blend-mode: difference;
    width: 100%;
}

.movie-detail-view-detail {
    cursor: pointer;
    padding-left: 0.5rem;
    color: gray;
}

.movie-detail-view-icon {
    font-size: 1.5rem;
    position: relative;
    top: 4px;
    font-weight: 600;
}

.flex-column {
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .pageSetup {
        max-width: 500px;
        margin: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    .container {
        padding: 0.5rem;
        gap: 5px;
    }

    .movie-grid {
        grid-gap: 0.3rem;
        grid-template: auto/ repeat(3, 1fr);
    }

    .main-container {
        width: 100%;
        padding: 0.5rem;
    }

    .aside-container {
        display: none;
    }

    .nav-genres-list,
    .nav-genres-item,
    .home {
        cursor: pointer;
        margin: 0.5rem 0.5rem 0.5rem 0rem;
    }

    .movie-img {
        height: 15rem;
        border-radius: 5px;
    }

    .detail-1 {
        height: 20rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .detail-2 {
        height: 20rem;
        margin-bottom: 1rem;
        width: 100%;
        margin-left: 0;
    }

    .detail-2 {}

    .search-tab {
        width: 90svw;
        transform: translateX(-30%);
    }
}